h1{
  padding: 10px !important;
  margin:20px !important;}

h2{font-size:32px !important;
	color: #f03b20 !important;
  font-family: 'Raleway', sans-serif !important;
	padding: 10px !important;
	margin:20px !important;}

h3{
	font-size: 20px !important;
	color:navy !important;
	width:500px !important;
	font-family: 'Open Sans', sans-serif !important;
	padding: 20px !important;
  margin:20px !important;
			}

h4{
  font-size: 25px !important;
  color:navy !important;
  width:1500px !important;
  font-family: 'Open Sans', sans-serif !important;
  padding: 20px !important;
  margin:20px !important;
      }

div.tooltip_name {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  padding: 2px;             
  font-size: 18px;  
  font-family: 'Open Sans', sans-serif;  
  background: white;
  border: 1px;      
  border-radius: 3px;           
  pointer-events: none;         
}      


div.popup_name {   
  position: relative;           
  text-align: center;           
  width: 120px;                  
  padding: 2px;             
  font-size: 18px;  
  font-family: 'Open Sans', sans-serif;  
  background: #8a84d1;
  border: 1px;      
  border-radius: 3px;           
  pointer-events: none;         
}     

labelfont{font-family: Palatino;
font-size:12px;}

text{
font-family: 'Source Sans Pro', sans-serif !important;
}

