<!DOCTYPE html>
	<html>
		<head>
		<link href="https://fonts.googleapis.com/css?family=Anaheim" rel="stylesheet">
		<link href="/assets/normalize.css" rel="stylesheet">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
			<img src='https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/13151739_10153730249496478_4301718079037592675_n.jpg?oh=b99875e6ba7cf1c79ff50d99dd26dfb9&oe=58FD8BF8'> 
			<h1>Lauren Schroeder</h1>
			</header>
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Portfolio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    		<ul>
        		<li><a href="mailto:schroe35@gmail.com">email</a></li>
        		<li><a href="https://github.com/laurenschroeder">github.com/laurenschroeder</a></li>
			</ul>
			</footer>
			<a href="http://bl.ocks.org/laurenschroeder/raw/ebeefc07011715cd9965a6ac7c75f915/">
				<img src='http://imgur.com/JHJVTQj'> 
			</a>
		</body>
	</html>
