<!DOCTYPE html>
	<html>
		<head>
		<link href="https://fonts.googleapis.com/css?family=Anaheim" rel="stylesheet">
		<link href="/assets/normalize.css" rel="stylesheet">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="mailto:schroe35@gmail.com">Email</a></li>

	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>

    		<ul>
        		<li><a href="mailto:schroe35@gmail.com">email</a></li>
        		<li><a href="https://github.com/laurenschroeder">Github</a>
        		<li><a href="https://www.linkedin.com/in/laurenschroeder01/">LinkedIn</a></li></li>
			</ul>
			</footer>
			
			</div>
		</body>
	</html>
